# Converting txt to csv (multiple files)

In [ ]:
import pandas as pd

for i in range(20, 30):
    if i != 25 and i != 27 and i != 28:
        input_file = f'tno_{i}.txt'
        output_file = f'tno_{i}.csv'

        df = pd.read_csv(input_file, sep='\s+', header=None)
        df.to_csv(output_file, index=False, header=False)
        print(f"Converted {input_file} to {output_file}")

# Converting txt to csv (single file)

In [ ]:
import pandas as pd

df = pd.read_csv('star10_26.txt', sep='\s+', header=None)
df.to_csv('star10_26.csv', index=False, header=False)

# Combine files

In [2]:
import pandas as pd

# Create an empty DataFrame to store the combined data
combined_df = pd.DataFrame()

# Loop through the files
for i in range(20, 30):
    if i != 25 and i != 27 and i != 28:
        input_file = f'tno_{i}.csv'
        df = pd.read_csv(input_file, header=None)
        combined_df = pd.concat([combined_df, df], ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('TNO.csv', index=False, header=False)
print("Files combined")

files combined

# Adding header (change it based on your pdump configuration)

In [11]:
import pandas as pd

# Load the combined CSV file
df = pd.read_csv('tno.csv', header=None)

# Add the header
header = "FRAME,MJDATE,APER5,APER6,APER7,APER21,APER25,APER30,APER35,MAG5,MAG6,MAG7,MAG21,MAG25,MAG30,MAG35,MERR5,MERR6,MERR7,MERR21,MERR25,MERR30,MERR35,XAIRMASS,FLUX5,FLUX6,FLUX7,FLUX21,FLUX25,FLUX30,FLUX35,SUM5,SUM6,SUM7,SUM21,SUM25,SUM30,SUM35,AREA5,AREA6,AREA7,AREA21,AREA25,AREA30,AREA35,MSKY"
header_list = header.split(',')
df.columns = header_list

# Save the combined DataFrame to a new CSV file
df.to_csv('tno.csv', index=False)
print("Header added")

(302, 46)
288